USE [master]
GO
/****** Object:  Database [USAP]    Script Date: 3/6/2017 11:00:47 AM ******/
CREATE DATABASE [USAP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'USAP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\USAP.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'USAP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\USAP_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [USAP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [USAP]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 3/6/2017 11:00:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alumnos](
	[num_cuenta] [nchar](7) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[apellido] [nvarchar](50) NULL,
	[fecha_nac] [date] NULL,
	[fecha_ing] [date] NULL,
	[carrera] [varchar](5) NULL,
 CONSTRAINT [PK_Alumnos] PRIMARY KEY CLUSTERED 
(
	[num_cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Aulas]    Script Date: 3/6/2017 11:00:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aulas](
	[codigo] [nchar](10) NOT NULL,
	[edificio] [nchar](10) NULL,
	[nivel] [int] NULL,
	[capacidad] [int] NULL,
 CONSTRAINT [PK_Aulas] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CargaAcademica]    Script Date: 3/6/2017 11:00:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CargaAcademica](
	[codigoclase] [nchar](6) NOT NULL,
	[codigoaula] [nchar](10) NOT NULL,
	[codigodocente] [nchar](10) NOT NULL,
	[periodo] [int] NOT NULL,
	[year_of] [int] NOT NULL,
	[horainicio] [time](7) NOT NULL,
	[horafinal] [time](7) NOT NULL,
	[codigodia] [int] NOT NULL,
 CONSTRAINT [PK_CargaAcademica] PRIMARY KEY CLUSTERED 
(
	[codigoclase] ASC,
	[codigoaula] ASC,
	[codigodocente] ASC,
	[periodo] ASC,
	[year_of] ASC,
	[horainicio] ASC,
	[horafinal] ASC,
	[codigodia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Carreras]    Script Date: 3/6/2017 11:00:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carreras](
	[codigo] [int] NOT NULL,
	[nombre] [nvarchar](30) NULL,
	[area] [int] NULL,
 CONSTRAINT [PK_Carreras] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clases]    Script Date: 3/6/2017 11:00:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clases](
	[codigoclase] [varchar](6) NOT NULL,
	[nombreclase] [nvarchar](50) NULL,
	[uv] [int] NULL,
 CONSTRAINT [PK_Clases] PRIMARY KEY CLUSTERED 
(
	[codigoclase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HorarioAlumnos]    Script Date: 3/6/2017 11:00:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorarioAlumnos](
	[numcuenta] [nchar](7) NOT NULL,
	[periodo] [int] NOT NULL,
	[year_of] [int] NOT NULL,
	[dia] [int] NOT NULL,
	[horainicio] [time](7) NULL,
	[horafinal] [time](7) NULL,
 CONSTRAINT [PK_HorarioAlumnos] PRIMARY KEY CLUSTERED 
(
	[numcuenta] ASC,
	[periodo] ASC,
	[year_of] ASC,
	[dia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HorarioDocentes]    Script Date: 3/6/2017 11:00:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorarioDocentes](
	[codempleado] [nchar](10) NOT NULL,
	[periodo] [int] NOT NULL,
	[year_of] [int] NOT NULL,
	[dia] [int] NOT NULL,
	[horainicio] [time](7) NULL,
	[horafinal] [time](7) NULL,
 CONSTRAINT [PK_HorarioDocentes] PRIMARY KEY CLUSTERED 
(
	[codempleado] ASC,
	[periodo] ASC,
	[year_of] ASC,
	[dia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RangoDias]    Script Date: 3/6/2017 11:00:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RangoDias](
	[codigo] [varchar](6) NOT NULL,
	[diainicio] [nchar](10) NULL,
	[diafin] [nchar](10) NULL,
 CONSTRAINT [PK_RangoDias] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RequisitosClase]    Script Date: 3/6/2017 11:00:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RequisitosClase](
	[codigoclase] [varchar](6) NOT NULL,
	[codigoclasereq] [int] NOT NULL,
 CONSTRAINT [PK_RequisitosClase] PRIMARY KEY CLUSTERED 
(
	[codigoclase] ASC,
	[codigoclasereq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RequisitosUV]    Script Date: 3/6/2017 11:00:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequisitosUV](
	[codigoclase] [int] NOT NULL,
	[uvreq] [int] NULL,
 CONSTRAINT [PK_RequisitosUV] PRIMARY KEY CLUSTERED 
(
	[codigoclase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
